@page "/groups"
@inject HttpClient Http

<PageTitle>QuestEval - Grupos</PageTitle>

<h1>Grupos</h1>

@if (groups == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Código de Acceso</th>
                <th>Creado En</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in groups)
            {
                <tr>
                    <td>@group.Name</td>
                    <td>@group.AccessCode</td>
                    <td>@group.CreatedAt.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Group>? groups;

    protected override async Task OnInitializedAsync()
    {
        groups = await Http.GetFromJsonAsync<List<Group>>("api/groups");
    }
}
